<a href="https://colab.research.google.com/github/8220suru/suresh/blob/main/Clustering_EastWestAirlines_Assignment(Donald).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
import seaborn as sns
import scipy.cluster.hierarchy as sch
from sklearn.cluster import AgglomerativeClustering

# 1 - Business Problem

Perform clustering (Both hierarchical and K means clustering) for the airlines data to obtain optimum number of clusters

# 2 - Data collection and description

In [12]:
from google.colab import files
uploaded=files.upload()

Saving EastWestAirlines.csv to EastWestAirlines.csv

In [13]:
data=pd.read_csv("EastWestAirlines.csv")
data

,East-West Airlines is trying to learn more about its customers. Key issues are their,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,"flying patterns, earning and use of frequent f...",NaN,NaN,NaN,NaN
1,card. The task is to identify customer segmen...,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN
4,Source: Based upon real business data; company...,NaN,NaN,NaN,NaN
5,(c) 2016 Galit Shmueli and Peter Bruce,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN
8,Field Name,Data Type,Max Data Length,Raw Data or Telcom Created Field?,Description
9,ID#,NUMBER,NaN,Telcom,Unique ID
10,Balance,NUMBER,8,Raw,Number of miles eligible for award travel
11,Qual_miles,NUMBER,8,Raw,Number of miles counted as qualifying for Topf...
12,cc1_miles,CHAR,1,Raw,Number of miles earned with freq. flyer credit...
13,cc2_miles,CHAR,1,Raw,Number of miles earned with Rewards credit car...
14,cc3_miles,CHAR,1,Raw,Number of miles earned with Small Business cre...
15,note: miles bins:,NaN,NaN,NaN,"1 = under 5,000"
16,NaN,NaN,NaN,NaN,"2 = 5,000 - 10,000"
17,NaN,NaN,NaN,NaN,"3 = 10,001 - 25,000"
18,NaN,NaN,NaN,NaN,"4 = 25,001 - 50,000"
19,NaN,NaN,NaN,NaN,"5 = over 50,000"
20,Bonus_miles,NUMBER,NaN,Raw,Number of miles earned from non-flight bonus t...
21,Bonus_trans,NUMBER,NaN,Raw,Number of non-flight bonus transactions in the...
22,Flight_miles_12mo,NUMBER,NaN,Raw,Number of flight miles in the past 12 months
23,Flight_trans_12,NUMBER,NaN,Raw,Number of flight transactions in the past 12 m...
24,Days_since_enroll,NUMBER,NaN,Telcom,Number of days since Enroll_date
25,Award?,NUMBER,NaN,Telcom,"Dummy variable for Last_award (1=not null, 0=n..."

In [56]:
data = data.copy()

In [57]:
data.head()

,East-West Airlines is trying to learn more about its customers. Key issues are their,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,"flying patterns, earning and use of frequent f...",NaN,NaN,NaN,NaN
1,card. The task is to identify customer segmen...,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN
4,Source: Based upon real business data; company...,NaN,NaN,NaN,NaN

In [38]:
data_norm = pd.DataFrame(data_norm) #standardize the data to normal distribution

In [39]:
data_norm.head()

,East-West Airlines is trying to learn more about its customers. Key issues are their,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,"flying patterns, earning and use of frequent f...",NaN,NaN,NaN,NaN
1,card. The task is to identify customer segmen...,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN
4,Source: Based upon real business data; company...,NaN,NaN,NaN,NaN

# 3 - Finding out the optimal number of clusters

In [55]:
plt.figure(figsize=(10, 8))
wcss = []
for i in range(1, 15):
    kmeans = KMeans(n_clusters = i, init = 'k-means++', random_state = 42)
    kmeans.fit(data_norm)
    wcss.append(kmeans.inertia_)
plt.plot(range(1, 15), wcss)
plt.title('The Elbow Method')
plt.xlabel('Number of clusters')
plt.ylabel('WCSS')
plt.show()

ValueError: ignored